

body {
	background-image: url('/assets/background-image1.png');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
  }


  .tooltip {
	  position: relative;
	  display: inline-block;
  }

  .tooltip .tooltiptext {
	  visibility: hidden;
	  position: absolute;
	  z-index: 1;
  }

  .tooltip:hover .tooltiptext {
	  visibility: visible;
  }




#logo {
	display: flex;
	flex-direction: row-reverse;
	padding: 50px 50px;
}




h1 {
	margin-left: 100px;
	font-size: 3em;
	color: black;
	text-shadow: 1px 1px 4px #000000;
	margin-bottom: 0px;
	
}
.subhead  {
	margin-top: 0px;
	margin-left: 100px;
	font-size: 2em;
	font-weight: 100;
	color: rgba(0, 0, 0, 0.7);
	font-style: bold;
	
	
		
}

.light {
	color: rgba(0, 0, 0, 0.4);
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 55%;
	margin-left: 100px;
	background-color: white;
	
	
  }
  
  td,th {
	border: 0px solid #dddddd;
	text-align: left;
	padding: 8px;

	
	text-align: left;
	padding: 8px;
	
  }

  .left {
	text-align: right;
  }

.right {
	text-align: center;
}
  
  tr:nth-child(1) {
	background-color: red;
	color: white;
  }

  
  .noborders td {
	border:0;
	
}
table tr {
	border-bottom: 2px solid #dddddd;
}

th {
	height: 50px;
}
td {
	height: 50px;
}


  a{
	  text-decoration: none;
	  color: lightskyblue;
  }



.footer{
	
    display: flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative; 
	top: 80px;
	margin-left: 110px;
	font-size: 18px;
	font-family: Nunito Sans;
	font-style: normal;
	
	
    
} 
